* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2efda;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    margin: 20px;
    margin-bottom: 40px;
    font-size: 60px;
    color: black;
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    background: #2857d8;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 4px 4px 7px #000;
    transition: all .5s;
    font-size: 30px;
}

a:hover {
    box-shadow: 0px 0px 7px #000;
}

a.derecha {
    animation-name: derecha;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

a.izquierda {
    animation-name: izquierda;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

#rondas-container {
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Asegura que los elementos estén en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente si es necesario */
    text-align: center; /* Centra el texto del label */
}

#rondas-container button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px; /* Espacio entre el input y el botón */
    border-radius: 10px;
}

#rondas-container label {
    display: block; /* Asegura que el label esté en su propia línea */
    margin-bottom: 10px; /* Agrega un margen para separarlo del input */
    font-size: 20px;
}

#rondas-container input {
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 300px; /* Limita el tamaño máximo */
    padding: 10px; /* Hace el input más grande */
    font-size: 1.2rem; /* Agranda el texto */
    margin-bottom: 10px; /* Espacio entre el input y el botón */
    box-sizing: border-box; /* Incluye padding en el ancho total */
}


#rondas-container button:hover {
    color: #f2d072;
    background-color: black;
}
